.Votes {
  width: 100%;
  padding-left: 25px;
}
.Votes h2 {
  font-family: "Caveat";
}
.Votes .flavors {
  width: 250px;
  margin-top: 15px;
}
.Votes .flavors .vote-count {
  margin-left: 5px;
}
.Votes .flavors .progress {
  height: 20px;
  border-radius: 5px;
  width: 0;
}
.Votes .choclate .progress {
  background-color: #4f2c2c;
}
.Votes .vanila .progress {
  background-color: #cbc0ac;
}
.Votes .strawberry .progress {
  background-color: #de8c91;
}
