.App button {
  background-color: #0e3c7e;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
button + button {
  margin-left: 10px;
}
.App button:disabled {
  background-color: gray;
}

.App .wrapper .AdDesigner + .Votes {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .App .wrapper {
    display: flex;
  }
  .App .wrapper .AdDesigner,
  .App .wrapper .Votes {
    width: 50%;
  }

  .App .wrapper .AdDesigner + .Votes {
    margin-top: 0;
  }
}
