.AdDesigner {
  width: 100%;
  padding-left: 25px;
}
.AdDesigner h2 {
  font-family: "Caveat";
}
.AdDesigner .Ad {
  text-align: center;
  width: 50%;
  border: 2px solid #222;
  height: 150px;
}
.AdDesigner .Ad p {
  font-family: "Caveat";
  font-size: 44px;
  margin: 0;
}
.AdDesigner .Ad.light {
  color: #000;
}
.AdDesigner .Ad.dark {
  background-color: #222;
  color: #fff;
}
.AdDesigner .font-size-text {
  margin: 0 15px;
}
